/*style.css Author by Yuji*/
*{
	margin-left: 1cm;
	margin-right: 1cm;
}

/* Image */

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.ds {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Table */
.table_center {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Action */
.card {
  background-color: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform .1s ease-in;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.card:hover,
.card:focus
 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.16);
  transform:scale(1.025);
  }

